*.iml
*.ipr
*.iws
bin-scenario
/bin
bintest
target
.manager
test.mails.html
bin-scala/
scalac.properties
.idea/workspace.xml
.DS_Store
*~
tmp/
scala-fsc.properties
prod/kaching/kc-universe-scripts/serviceutil.pyc
.metadata
srctest/com/kaching/platform/click/click
src/com/kaching/user/web/click
srctest/com/kaching/util/click/click
*.Rcheck
.Rapp.history
.Rhistory
.rbenv-version
.cache
out/
.classpath
.project
org.eclipse.jdt.core.prefs
.idea/*
src/.idea/*
!.idea/runConfigurations/
file-sc.log
file.log
.backendClasspath
.settings
dictionaries/
/target/
checkstyle-cachefile
ascensus*.pdf
